n8n/workflows/scheduled-analysis.json
{
  "name": "Bull's Eye - Scheduled Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily at 2 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Define repositories to analyze on schedule\nconst repositories = [\n  {\n    repo_url: 'https://github.com/your-org/main-project.git',\n    branch: 'main',\n    name: 'Nightly Analysis: Main Project'\n  },\n  // Add more repositories as needed\n];\n\nreturn repositories;"
      },
      "id": "get-repos",
      "name": "Get Repositories",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-repos",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://worker-api:8000/webhook/analyze",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "repo_url",
              "value": "={{ $json.repo_url }}"
            },
            {
              "name": "branch",
              "value": "={{ $json.branch }}"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            }
          ]
        }
      },
      "id": "trigger-analysis",
      "name": "Trigger Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait Between Jobs",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Daily at 2 AM": {
      "main": [
        [
          {
            "node": "Get Repositories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Repositories": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Trigger Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Analysis": {
      "main": [
        [
          {
            "node": "Wait Between Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Jobs": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
